<div class="flash-messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <script>
        setTimeout(function() {
          var alerts = document.querySelectorAll('.alert');
          alerts.forEach(function(alert) {
            alert.remove();
          });
        }, 5000);
    </script>
</div>
